body
{
	font-family: Arial, Notable;
	font-size: 13px;
	
	text-indent: 1%;
	word-spacing: 2px;
}

h1
{
	font-size: 25px;
}

ul
{
	list-style-type:none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav
{
	text-align: center;
	line-height: 70px;
	background-color: #133674;
}

#navbartitle
{
	color: #FFF;
}

#Cookiestatement
{
	background-color: #FA0;opacity: 0.5;
	width: 320px;
	text-align: center;
	flex-shrink: 0;
	flex-grow: 0;
}

#Cookiestatement p 
{
	color: #FFF;
}

.menu
{
	margin: 0 30px 0 0;
}

.menu a 
{
	clear:both;
	text-decoration:none;
	color:#65B5C8;
	margin:0 10px;
	line-height:70px;
	
}

label
{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle
{
	display: none;
}

.grid-container
{
	display: grid;
}

.grid-container2
{
	grid-gap: normal;
	
	grid-template-areas:
		'article2Tag article1Tag article3Tag'
		'article5Tag article1Tag article3Tag' 
		'article5Tag article1Tag article4Tag' 
		'article5Tag article6Tag article6Tag'
		'aside1Tag aside2Tag aside3Tag' ;
}

.article
{
	border: 3px solid black;
	margin: 3px;
	padding: 3px;
}

.aside img
{
	width: 75px;
}

.aside
{
	display: grid;
	grid-template-columns: auto auto;
	
	justify-content: space-between;
	
	border: 3px solid #65B5C8;
	margin: 3px;
	padding: 3px;
}

.article1
{
	grid-area: article1Tag;
}

.article2
{
	grid-area: article2Tag;
}

.article3
{
	grid-area: article3Tag;
}

.article4
{
	grid-area: article4Tag;
}

.article5
{
	grid-area: article5Tag;
}

.article6
{
	grid-area: article6Tag;
}

.aside1
{
	grid-area: aside1Tag;
}

.aside2
{
	grid-area: aside2Tag;
}

.aside3
{
	grid-area: aside3Tag;
}

.grid-container3
{
	grid-template-columns: auto auto;
	justify-content: space-between;
}

@media only screen and (max-width: 1179px)
{
	.grid-container2
	{
		grid-template-areas:
			'article1Tag article2Tag'
			'article3Tag article2Tag'
			'article3Tag article5Tag'
			'article6Tag article6Tag'
			'aside1Tag aside2Tag'
			'aside1Tag aside2Tag' ;
	}
	
	.article1
	{
		grid-area: article1Tag;
	}
	
	.article2
	{
		grid-area: article2Tag;
	}

	.article3
	{
		grid-area: article3Tag;
	}

	.article4
	{
		display: none;
	}

	.article5
	{
		grid-area: article5Tag;
	}

	.article6
	{
		grid-area: article6Tag;
	}

	.aside1
	{
		grid-area: aside1Tag;
	}

	.aside2
	{
		grid-area: aside2Tag;
	}

	.aside3
	{
		display: none;
	}
}

@media only screen and (max-width: 479px) 
{
	label
	{
		display: block;
		cursor: pointer;
	}
	
	.menu
	{
		text-align: center;
		width: 100%;
		display: none;
	}
	
	.menu a
	{
		display: block;
		border-bottom: 1px solid black;
		margin: 0;
		background-color: #133674;
		font-size: 10px;
	}
	
	#navbartitle
	{
		font-size: 15px;
	}
	
	#logo
	{
		display: none;
	}
	
	#toggle:checked + .menu
	{
		display: block;
	}
	
	.grid-container1
	{
		grid-template-columns: auto auto;
	}
	
	.grid-container2
	{
		grid-template-areas:
			'article5Tag'
			'article3Tag'
			'article2Tag'
			'article1Tag'
			'aside1Tag'
			'aside2Tag'
			'aside3Tag' ;
	}
	.article1
	{
		grid-area: article1Tag;
	}

	.article2
	{
		grid-area: article2Tag;
	}

	.article3
	{
		grid-area: article3Tag;
	}

	.article4
	{
		display: none;
	}

	.article5
	{
		grid-area: article5Tag;
	}

	.article6
	{
		display: none;
	}

	.aside1
	{
		grid-area: aside1Tag;
	}
	
	.aside2
	{
		grid-area: aside2Tag;
	}
	
	.aside3
	{
		display: grid;
		grid-area: aside3Tag;
	}
}